#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FGComGui
GenericName=Gui Front End For FGCom
Comment=Gui Front End For FGCom
Icon=fgcomgui
Exec=fgcomgui
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;Application;Qt;

